$S: 576px;
$M: 768px;
$L: 992px;
$X: 1200px;


$greenColor: #4ea7ff;
$colorGray: #85898d;
$goldColor: #f8ecd6;
$redColor: #b1111b;
$BackgroundPublic:#fff;
$colorWhite: #fff;
$MainColor: #ffc457;
$MainColorLight: #fe98191f;
$colorOrange: #fea837;
/*$Gray: #85898d8c;*/
$Gray: #c4c5c547;
$GrayReal: #c4c5c5;
$colorPink: #ff6767;
$ColorMainDark: #fe886d;
$ColorMainDark2: #ff9419;
$colorBlack: #6d6b6e;
$silver:#b3b7c1;

$border-radius-5 : 5px;
$border-radius-10 : 10px;
$border-radius-50 : 50px;
$border-radius-100 : 100px;
