.dropdown-menu.show {
  left: 0 !important;
  right: -100% !important;
}
.tabs {
  border: 2px solid #eee;
  .nav-link{
    color: gray;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
    &:hover{
      color: #2a3042;
    }
  }

  .active  {
    position: relative;
    font-weight: 600;
    color: #2a3042;
    background-color: #eee;
    //&:after {
    //  content: '';
    //  position: absolute;
    //  bottom: -5px;
    //  right: 0;
    //  width: 100%;
    //  height: 2px;
    //  background-color: red;
    //
    //}
  }
}

.datepicker-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  color: gray;
}

.icon-doc{
  cursor: pointer !important;
}