.loading {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 1000000;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


//-------------------------------donut chart
.apexcharts-legend-text{
  font-family: IRANSans_light !important;
  color: #474545 !important;
  display: block !important;
}
.apexcharts-legend{
  flex-direction: column;
  justify-content: center;
}
.apexcharts-legend-text {
  margin-right:5px;
}
.apexcharts-legend-series{
  justify-content: center;
}


//------------------------------select
.css-26l3qy-menu{
  z-index: 2 !important;
    }


  //-----------

  .icon-download_pic{
    cursor: pointer !important ;
  }

  //------- icon refresh payment status ------
  .icon-update-status-payment{
    cursor: pointer !important;
  }
  
  .icon-update-status-payment:hover{
    color: green !important;
    transform: scale(1.2) !important;
  }

  .field-header-filter{
    color: rgb(0, 37, 105) !important;
  }

  .field-header-filter:hover{
    cursor: pointer !important;
    
  }