@font-face {
    font-family: IRANSans_light;
    font-style: normal;
    font-weight: 300;
    src: url('http://cdn.biithome.com/fonts/IRANSansWeb_Light.eot');
    src: url('http://cdn.biithome.com/fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('http://cdn.biithome.com/fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('http://cdn.biithome.com/fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('http://cdn.biithome.com/fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans_light;
    font-style: normal;
    font-weight: normal;
    src: url('http://cdn.biithome.com/fonts/IRANSansWeb(FaNum).eot');
    src: url('http://cdn.biithome.com/fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('http://cdn.biithome.com/fonts/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('http://cdn.biithome.com/fonts/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('http://cdn.biithome.com/fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('http://cdn.biithome.com/fonts/IRANSansWeb.eot');
    src: url('http://cdn.biithome.com/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('http://cdn.biithome.com/fonts/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('http://cdn.biithome.com/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('http://cdn.biithome.com/fonts/IRANSansWeb.ttf') format('truetype');
}

